.ProjectPage {
    padding: 2%;
    margin-bottom: 6rem;
}

.ProjectVideo video,
.ServiceVideo video {
    width: 100%;
}


@media screen and (min-width: 1950px) {

    .ProjectPage,
    .ServicesPage {
        padding: 2% 8%;
    }
}



.SolutionHead {
    width: 50%;
}

.SolutionDetails {
    display: flex;
    justify-content: space-between;
}

.SolutionCol2,
.SolutionCol1 {
    width: 48%;
}

.OurSolutionSection {
    margin-bottom: 8rem;
}

.SolutionItem p span {
    font-weight: 600;
    margin-right: 10px;
}




/*****************************************************
********************* MEDIA QUERIES *****************
********************************************************/

/* ALL PROJECTS MEDIA QUERIES */

/*****************************************************
********************* 1180 *****************
********************************************************/
@media screen and (max-width: 1180px) {
    .ProjectAboutImages img {
        width: 100%;
    }

    .ProjectHeroSectionText p {
        width: 85%;
    }
}


/*****************************************************
********************* 768 *****************
********************************************************/
@media screen and (max-width: 768px) {
    .ProjectHeroSectionTabs p {
        padding: 2rem 2rem;
    }

    .ProjectHeroSectionText p {
        font-size: 5.5rem !important;
    }

    .ProjectHeroSectionText p,
    .ProjectAboutHeadingText,
    .ProjectTextCol2,
    .SolutionHead,
    .SolutionItem p {
        width: 95% !important;
    }

    .ProjectTwoColumnWrapper,
    .SolutionDetails {
        flex-direction: column;
    }

    .ProjectTextCol2,
    .SolutionHead p:nth-child(2),
    .Head-Text div p:nth-child(2)   {
        margin-top: 3rem;
    }

    .SolutionDetails {
        margin-top: 8rem;
    }
    .Head-Text
    {
        margin:8rem 0rem;
    }
}


/*****************************************************
********************* 576 *****************
********************************************************/
@media screen and (max-width: 576px) {



    .SolutionCol2,
    .SolutionCol1 {
        width: 100% !important;
    }

    .SolutionItem p {
        margin: 10rem 0rem !important;
    }

    .ProjectHeadCol1 {
        width: 50% !important;
    }

    .ProjectAboutHeadingText p {
        font-size: 3rem !important;
    }

    .ProjectTextCol2 p,
    .SolutionHead p:nth-child(2),
    .SolutionItem p {
        font-size: 2.2rem !important;
    }

    .ProjectHeroSectionTabs p {
        font-size: 2rem !important;
    }


}