.QryptonFooter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8%;
    background-color: #e3e5ed;

    position: relative;
    z-index: 1;
}
.QryptonFooter .QryptonLogo a
{
    font-size: 4rem;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
}
.PrivacyPolicy p
{
    font-size: 1.4rem;
}

/*****************************************************
********************* 576 *****************
********************************************************/
@media screen and (max-width: 576px) 
{
    .QryptonFooter
    {
        padding: 4rem 1.8rem;
    }
}