




/* body
{
  margin: 0;
}
p,a,h1,h2,h3,button,input,textarea
{
  font-family: "Titillium Web", sans-serif;
} */






/* @media (min-width: 320px) {

  html {
    font-size: 40% !important;
  }
}

@media screen and (min-width: 768px) {

  html {
    font-size: 52% !important;
  }
}

@media screen and (min-width: 1024px) {

  html {
    font-size: 55% !important;
  }
}

@media screen and (min-width: 1400px) {

  html {
    font-size: 62.5% !important;
  }
}

@media screen and (min-width: 1920px) {

  html {
    font-size: 72.5% !important;
  }
}

@media screen and (min-width: 2560px) {

  html {
    font-size: 76.5% !important;
  }
} */



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-roboto: "Inter", sans-serif; 
}

body {
  font-family: var(--font-roboto);
  margin: 0;
}
#root
{
  overflow: hidden;
}
h1,a,p,li,button,input,textarea,span
{
  font-family: "Inter", sans-serif;
}





/* Base styles for all devices */

/* Styles for mobile */
@media (min-width: 50px) {
  /* Styles for mobile go here */

  html {
    font-size: 52%;
  }
}

/* Styles for small tablets */
@media screen and (min-width: 768px) {
  /* Styles for small tablets go here */

  html {
    font-size: 52%;
  }
}

/* Styles for tablets */
@media screen and (min-width: 1024px) {
  /* Styles for tablets go here */

  html {
    font-size: 55%;
  }
}

/* Styles for laptops and desktops */
@media screen and (min-width: 1450px) {
  /* Styles for laptops and desktops go here */

  html {
    font-size: 62.5%;
  }
}
/* Styles for laptops and desktops */
@media screen and (min-width: 1920px) {
  /* Styles for laptops and desktops go here */

  html {
    font-size: 72.5%;
  }
}